#app{
  position:fixed;
}
.pizza-box {
  --rotation-deg: 0deg;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  transform: rotate(var(--rotation-deg));
  transition: transform 0.5s ease-in-out;  
}
.pizza-box, .pizza {
  clip-path: circle(50% at 50% 50%);
  border: 3px solid #373F51;
  border-radius: 50%;
  overflow: hidden;
}
.pizza, .slice, .name {
  position: absolute;
}
.slice {
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  outline: 1px solid #373F51;
}
.inner-slice {
  position: relative;
  height: 100%;
  transform: rotate(0deg) skewY(45deg);
}
.name {
  left: 25%;
  bottom: 30%;
}